In [3]:
# !pip install [package-name]
# !conda install [package-name]
# conda install pandas (already installed with Anaconda)

# "Open the app" that was installed

import pandas as pd

In [4]:
# Read the census worksheet of census.xlsx
#  Lots of optional arguments here... 
#  help(pd.read_excel)

census = pd.read_excel('datasets/census.xlsx', sheet_name='census')

     state  year  population  land_area
0  Alabama  2010     4785437      52420
1  Alabama  2011     4799069      52420
2  Alabama  2012     4815588      52420
3  Alabama  2013     4830081      52420
4  Alabama  2014     4841799      52420

In [ ]:
# Lots of data... just get

In [5]:
# Descriptive stats
census.describe()

              year    population      land_area
count   306.000000  3.060000e+02     306.000000
mean   2012.500000  6.175292e+06   74445.960784
std       1.710623  6.945165e+06   96135.285447
min    2010.000000  5.644870e+05      68.000000
25%    2011.000000  1.636099e+06   35380.000000
50%    2012.500000  4.395502e+06   56273.000000
75%    2014.000000  6.828914e+06   84897.000000
max    2015.000000  3.891804e+07  665384.000000

In [7]:
# Column values & types
census.info()

<bound method DataFrame.info of        state  year  population  land_area
0    Alabama  2010     4785437      52420
1    Alabama  2011     4799069      52420
2    Alabama  2012     4815588      52420
3    Alabama  2013     4830081      52420
4    Alabama  2014     4841799      52420
..       ...   ...         ...        ...
301  Wyoming  2011      567299      97813
302  Wyoming  2012      576305      97813
303  Wyoming  2013      582122      97813
304  Wyoming  2014      582531      97813
305  Wyoming  2015      585613      97813

[306 rows x 4 columns]>

In [ ]:
# Calculate a column 

census['density'] = census['population']/census['land_area']
census.head()

In [ ]:
# Read a different worksheet from same workbook
divisions = pd.read_excel('datasets/census.xlsx', sheet_name='divisions')
divisions.head()

In [ ]:
# Merge datasets, left outer join

census = census.merge(divisions, how='left')
census.head()

In [ ]:
# Get total population by region for 2015


# 1. Filter only 2015 data
census_2015 = census[census['year']==2015]

# QA check -- list unique values in year column
census_2015['year'].unique()

In [ ]:
# Selection region and population columns, group by region, take sum of population
census_2015_agg = census_2015[['region','population']].groupby('region').sum()
census_2015_agg

In [ ]:
# Write to Excel
census_2015_agg.to_excel('output/census-report.xlsx', sheet_name='analysis')